<!-- src/app/app.component.html -->
<div class="container mt-5">
  <header class="text-center">
    <h1 class="highlight-title">👋 Hi, I'm Nandhyala Sai Bhargavi</h1>
    <p class="highlight-text">Full-Stack Developer | Angular | .NET Core | SQL</p> 
  </header>

  <section class="mt-4 about">
    <h2 style="color : #5d0685;">About Me</h2>
    <p style="color: #8e44ad;font-weight: bold;">
      I'm a passionate Full-Stack Developer with expertise in Angular and .NET Core. I thrive on building scalable, high-performance web applications with optimized user experiences.    </p>
  </section>

  <section class="mt-4 about">
    <h2  style="color : #5d0685;">Projects</h2>
    <ul>
      <li> <a href="#">Task Management App</a></li>
      <li> <a href="#">E-commerce Site</a></li>
      <li> <a href="#">Expense Tracker</a></li>
    </ul>
  </section>

  <section class="mt-4 about">
    <h2  style="color : #5d0685;">Resume</h2>
    <a href="assets/Resume.pdf" download class="btn btn-primary">Download Resume</a>
  </section>

  <section class="mt-4 about">
    <h2  style="color : #5d0685;">Contact</h2>
    <p><a href="mailto:nandhyalabhargavi@gmail.com" target="_blank">Send Email</a></p>
    <p><a href="https://www.linkedin.com/in/sai-bhargavi-n-7a95101b8/" target="_blank"> Linkedln</a></p>
    <p><a href="https://github.com/SaiBhargavi99" target="_blank">github</a></p>
  </section>
</div>
